@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Orelega One', cursive;
    font-size: 24px;
    font-weight: 400;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header_logo {
    overflow: hidden;
    z-index: 5;
}
.header_logo img{
    max-width: 100%;
    display: block;
}

.burger {
    display: none;
}

.list {
    display: flex;
    position: relative;
    z-index: 3;
}
.list li{
    list-style: none;
    margin: 0px 0px 0px 20px ;
}
.list li:hover{
    border-bottom: 4px solid white;
} 
.link {
    color: white;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
}
.content {
    padding-top: 130px;
}
.text {
    padding: 20px;
}
.burger.active:before{
    transform: rotate(45deg);
    top: 22px;
}
.burger.active:after{
    transform: rotate(-45deg);
    bottom: -5px;
}
.burger.active span{
    transform: scale(0);
}

@media (max-width:1200px){
    body.lock {
        overflow: hidden;
    }
    .header_body {
       height: 50px; 
    }
    .header_logo {
        flex: 0 0 40px;
    }
    .round {
        width: 50px;
        height: 50px;
        align-items: center;
        border-radius: 30px;
        background-color: #820600;
        z-index: 3;
    }
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .burger:before,
    .burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 36px;
        height: 2px;
        left: 7px;
        transition: all 0.5s ease 0s;
    }
    .burger:before{
        top: 10px;
    }
    .burger:after{
        bottom: -18px;
    }
    .burger span{
      position: absolute;
      background-color: white;
      left: 7px;
      width: 36px;
      height: 2px;
      top: 23px;
      transition: all 0.5s ease 0s;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: gray;
        padding: 70px;
        transition: all 0.5s ease 0s;
    }
    .header_menu.active {
        top: 0;
    }
    .list{
        display: block;
    }
    .list li{
        margin: 0px 0px 20px -30px;
    }
    .link{
        font-size: 46px;
    }
    .content {
        margin: -90px 0px 0px 0px;
    }
}
